$color-dark: #3f2c32;
$color-light: #FFFFFF;
$color-grey: #AAAAAA;

$color-logo: #005AFF;
$color-highlight: #ef0e43;
$color-dark-bg: #3f2c32;

$bg-color: $color-light;
$container-color: $color-light;

$header-font-stack: 'Crimson', 'Georgia', serif;;
$header-font-weight: 300;
$header-font-color: $color-dark;

$alt-font-stack: 'Raleway', sans-serif;
$alt-font-weight: 300;
$alt-font-color: $color-dark;

$body-font-stack: 'Crimson', 'Georgia', serif;
$body-font-weight: 400;
$body-font-color: darken($color-grey,30);

/* header styles */
$collapse-width: 768px;