.home {
    @include rhythm-spacing(2,0);
}

#fold {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.header {
    @include rhythm-spacing(2,1);

    a {
        background-image: none;
    }
}

h1.home-emphasis {
    @include set-font-size(42px);
    margin-left: 0;
    font-family: $header-font-stack;
    font-weight: 400;
    color: $header-font-color;
}

h2.home-emphasis {
    @include set-font-size(28px);
    margin-left: 0;
    font-family: $header-font-stack;
    font-weight: 400;
    color: $header-font-color;
}