.logo {
    text-align:center;
    margin: 0 auto;
    margin-top: 10px;

    font-family: $alt-font-stack;
    font-weight: 100;
    @include set-font-size(40px);

    img {
        max-width: 120px;
        width: 100%;
        margin: 0 auto;
    }

    a {
        color: $color-dark;

        &:hover {
            color: $color-logo;
        }
    }
}

#name {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
    color: $color-light;
    font-family: $header-font-stack;
    font-weight: $header-font-weight;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 900;
}

#desc {
    color: $color-light;
}