body{
	font-family:"ExistenceLight",Helvetica,sans-serif;
	font-weight:300;
	background: url(water.png);
	color:#FFFFFF;
}
h1{
	font-weight:300;
    color: #FFFFFF;
}
h2{
	font-weight:300;
    color: #FFFFFF;
}
h3{
	font-weight:300;
    color: #FFFFFF;
}
p {
    color: #FFFFFF;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  
}
.splash
  {
  	margin: 40px 0;
	margin-bottom:4px;
  	text-align:center;
  }
 .social{
 	margin: 0 auto;
 }
.container-narrow {
	background-color: rgba(0,0,0,0.6);
	padding:32px;
}
.button-group li a{
	font-weight:700;
	font-family: "Lato", Helvetica, Arial, sans-serif;
}
.button[disabled]{
	font-weight:400 !important;
	font-family: "Lato", Helvetica, Arial, sans-serif;
}
.footer {
	text-align:center;
	width:100%;
	max-width:300px;
	margin:0 auto;
	font-size:10px;
	margin-top:32px;
	margin-bottom:16px;
}
.button-group{
	margin-top:32px;
}
.addthis_toolbox {
width: 260px; 
margin: 0 auto;
}