{% include head.html %}
<body>

<div class='header container-thin'>
    <div class='text-center'>
        <a href='/'><img src='/img/AmorphousA.png'/></a>
    </div>
    <div class='logo text-center'>
    <a href='/'>AMORPHOUS</a>
    </div>


{% include nav.html %}

    <div class='text-center'>
        <img src='/img/divider-sword.png'/>
    </div>
</div>
<div class='container-thin'>
  <!--CONTENT-->
  {{ content }}
</div>

{% include footer.html %}
{% include scripts.html %}
{% include analytics.html %}
{% include chromeframe.html %}
</body>
</html>
